<h1> Importing </h1>

In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import dataset
df = pd.read_csv("sars2003.csv")

<h1> Basic knowledge on dataset </h1>

In [3]:
#rows, columns -> 2538 rows and 5 columns
df.shape

(2538, 5)

In [4]:
#column names
df.columns

Index(['Date', 'Country', 'Cumulative number of case(s)', 'Number of deaths',
       'Number recovered'],
      dtype='object')

In [10]:
#column types
df.dtypes

Date                            object
Country                         object
Cumulative number of case(s)     int64
Number of deaths                 int64
Number recovered                 int64
dtype: object

In [5]:
#how does it look? 
df.head(10)

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0
5,2003-03-17,Thailand,1,0,0
6,2003-03-17,Viet Nam,40,1,0
7,2003-03-18,Germany,2,0,0
8,2003-03-18,Canada,8,2,0
9,2003-03-18,China,0,0,0

<h1> Questions I want to answer </h1>

In [16]:
#stat summary
df.describe()

       Cumulative number of case(s)  Number of deaths  Number recovered
count                   2538.000000       2538.000000       2538.000000
mean                     219.211978         17.812845        134.678487
std                      825.024564         61.425627        581.595350
min                        0.000000          0.000000          0.000000
25%                        1.000000          0.000000          1.000000
50%                        3.000000          0.000000          2.000000
75%                       14.750000          2.000000          9.000000
max                     5329.000000        348.000000       4941.000000

In [15]:
# date ranges
print('Earliest day is ' + min(df['Date']))
print('Last day is ' + max(df['Date']))

Earliest day is 2003-03-17
Last day is 2003-07-11

In [58]:
#how many countries
df['Country'].nunique()

37

In [53]:
#countries and how many. 
df['Country'].value_counts()

China                   96
Germany                 96
Thailand                96
Canada                  96
Hong Kong SAR, China    96
Singapore               96
United Kingdom          95
Viet Nam                95
Taiwan, China           95
Switzerland             94
United States           94
Italy                   92
Republic of Ireland     92
France                  90
Romania                 87
Spain                   86
Brazil                  81
Malaysia                79
Kuwait                  75
South Africa            74
Sweden                  72
Philippines             72
Indonesia               72
Mongolia                69
India                   64
Republic of Korea       59
Macao SAR, China        58
New Zealand             56
Colombia                53
Finland                 51
Russian Federation      31
Bulgaria                20
Japan                   19
Australia               17
Poland                  10
Belgium                  5
Slovenia                 5
Name: Country, dtype: int64

In [63]:
#by countries, stat
df.groupby('Country').nunique()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
Country,,,,,
Australia,17,1,5,1,4
Belgium,5,1,1,1,1
Brazil,81,1,3,1,3
Bulgaria,20,1,1,1,1
Canada,96,1,52,24,48
China,95,1,53,55,69
Colombia,53,1,1,1,1
Finland,51,1,1,1,2
France,90,1,6,2,4
Germany,96,1,9,1,6
"Hong Kong SAR, China",96,1,71,68,67
India,64,1,2,1,3
Indonesia,72,1,2,1,3
Italy,92,1,7,1,9
Japan,19,1,4,1,1
Kuwait,75,1,1,1,2
"Macao SAR, China",58,1,2,1,2
Malaysia,79,1,7,2,5
Mongolia,69,1,5,1,6
New Zealand,56,1,1,1,1
Philippines,72,1,7,3,7
Poland,10,1,1,1,1
Republic of Ireland,92,1,2,1,2
Republic of Korea,59,1,3,1,4
Romania,87,1,2,1,2
Russian Federation,31,1,1,1,1
Singapore,96,1,40,25,33
Slovenia,5,1,1,1,1
South Africa,74,1,1,2,2
Spain,86,1,1,1,2
Sweden,72,1,2,1,3
Switzerland,94,1,4,1,2
"Taiwan, China",95,1,58,20,44
Thailand,96,1,8,3,4
United Kingdom,95,1,6,1,5
United States,94,1,40,1,13
Viet Nam,95,1,7,4,7